.total{
color: yellow
}

#text2{
    color: green
    
}
/* . for class # for id and nothing for html tags */
/* .btn{
    background-color: brown;
    
} */

td{
    border: 5px solid pink;
}

th{
    border: 5px solid pink;
}

.content{
  max-height: 50rem;
    overflow: auto;
    text-align: center;
    justify-items: center;
    border: 2px solid gray;
    margin: 20px 0;
    padding: 20px 0;
}

.concept{
    color: cadetblue;
    text-decoration: underline;
}
