.Myname{
    color: blue;
}

    

#Love{
    color: aqua;
}

.You{
    color: blueviolet;
}

#padding{

color: black;
}

.Universe{
    color: azure;
}

.Position{
    color: aqua;
}

.cursorset{
    color: brown;
}
.HoverHi{
    color: blueviolet;
}
.Test{
    color: chartreuse;
}

.Prioroty{
    color: aquamarine;
}
#Sirsi{
    color:pink ;
}